:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --secondary-text-color: #FFFFFF;
    --accent-color:  #4D5AE5;
    --primary-background-color: #E5E5E5;
    --secondary-background-color:#F4F4FD;
    --header-background-color: #FFFFFF;
    --footer-background-color: #2E2F42;
}

